@model IEnumerable<MVC_NPANTS.Models.TipoPrendaVestir>

@{
    ViewData["Title"] = "Index";
}


<div class="main-container">
    <div class="page-header">
        <h1>Tipo prenda vestir</h1>
    </div>
    <p>
    <a class="btn btn-create" asp-action="Create">Crear Nuevo tipo de prenda</a>
    </p>
    <table class="data-table">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-edit" })
                        @Html.ActionLink("Detalles", "GetById", new { id = item.Id }, new { @class = "btn btn-details" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

 
</div>
