@model MVC_NPANTS.Models.PrendaVestir

@{
    ViewData["Title"] = "Eliminar Prenda de Vestir";
}

<div class="main-container">
    <div class="page-header">
        <h1>Eliminar Prenda de Vestir</h1>
    </div>

    <h4>¿Estás seguro de que deseas eliminar esta prenda de vestir?</h4>
    <hr />

    <div class="form-group">
        <label>ID:</label>
        <div class="form-control">
            @Html.DisplayFor(model => model.Id)
        </div>
    </div>

    <div class="form-group">
        <label>Nombre:</label>
        <div class="form-control">
            @Html.DisplayFor(model => model.Nombre)
        </div>
    </div>

    <div class="form-group">
        <label>Descripción:</label>
        <div class="form-control">
            @Html.DisplayFor(model => model.Descripcion)
        </div>
    </div>

    <div class="form-group">
        <label>Tela:</label>
        <div class="form-control">
            @Html.DisplayFor(model => model.Tela.Nombre)
        </div>
    </div>

    <div class="form-group">
        <label>Estilo:</label>
        <div class="form-control">
            @Html.DisplayFor(model => model.Estilo.Nombre)
        </div>
    </div>

    <div class="form-group">
        <label>Tipo de Prenda de Vestir:</label>
        <div class="form-control">
            @Html.DisplayFor(model => model.Tipoprendavestir.Nombre)
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="btn-container">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

