@model IEnumerable<MVC_NPANTS.Models.PrendaVestir>

@{
    ViewData["Title"] = "Listado de Prendas de Vestir";
}

<h1>Listado de Prendas de Vestir</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Prenda de Vestir</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstiloId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoprendavestirId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tela.Nombre)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estilo.Nombre)
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipoprendavestir.Nombre)
                  
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
