@model IEnumerable<MVC_NPANTS.Models.PrendaVestir>
@{
    ViewData["Title"] = "Catálogo de Prendas de Vestir";
}


<div class="main-container">
    <div class="page-header">
        <h1 style="color:white">Catálogo de Prendas de Vestir</h1>
        <a class="btn-create" asp-action="Create">Agregar nueva prenda</a>
    </div>
    <div class="product-grid">
        @foreach (var prenda in Model)
        {
            <div class="product-card">

                <!-- Imagen condicional según el tipo de prenda -->
                <div class="product-image">
                    @if (prenda.Tipoprendavestir.Nombre == "Camisa")
                    {
                        <img src="~/img/2.png" alt="Camisa" class="img-fluid" />
                    }
                    else if (prenda.Tipoprendavestir.Nombre == "Pantalon")
                    {
                        <img src="~/img/1.png" alt="Pantalon" class="img-fluid" />
                    }
                    else if (prenda.Tipoprendavestir.Nombre == "Corbatin")
                    {
                        <img src="~/img/3.png" alt="Pantalon" class="img-fluid" />
                    }
                    else
                    {
                        <img src="~/img/4.png" alt="Imagen Predeterminada" class="img-fluid" />
                    }
                </div>
                
                <a href="@Url.Action("Details", new { id = prenda.Id })" class="product-name">@prenda.Nombre</a>
                <div class="product-detail">
                    <span class="product-label">Tela:</span> @prenda.Tela.Nombre
                </div>
                <div class="product-detail">
                    <span class="product-label">Estilo:</span> @prenda.Estilo.Nombre
                </div>
                <div class="product-detail">
                    <span class="product-label">Tipo:</span> @prenda.Tipoprendavestir.Nombre
                </div>
                <div class="action-buttons">
                    @Html.ActionLink("Editar", "Edit", new { id = prenda.Id }, new { @class = "btn-action btn-edit" })
                    @Html.ActionLink("Detalles", "Details", new { id = prenda.Id }, new { @class = "btn-action btn-details" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = prenda.Id }, new { @class = "btn-action btn-delete" })
                </div>
            </div>
        }
    </div>
</div>