@model IEnumerable<MVC_NPANTS.Models.Tela>

@{
    ViewData["Title"] = "Telas";
}

<h1>Lista de Telas</h1>

<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="searchString">Buscar:</label>
        <input type="text" class="form-control" id="searchString" name="searchString" placeholder="Ingrese nombre o color">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

@if (!string.IsNullOrEmpty(ViewBag.SearchString))
{
    <p>Resultados de búsqueda para: "@ViewBag.SearchString"</p>
}

<a class="btn btn-create" asp-action="Create">Crear</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "text-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
