@model IEnumerable<MVC_NPANTS.Models.EstadoPedido>

@{
    ViewData["Title"] = "Lista de Estados de Pedido";
}

<div class="main-container">
    <div class="page-header">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="btn-container mb-3">
        <a class="btn btn-create" asp-action="Create">Crear Nuevo Estado de Pedido</a>
    </div>

    @if (Model != null && Model.Any())
    {
        <table class="data-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var estado in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => estado.Nombre)
                        </td>
                        <td>
                          
                            @Html.ActionLink("Editar", "Edit", new { id = estado.Id }, new { @class = "btn btn-edit" }) |
                            @Html.ActionLink("Detalles", "Details", new { id = estado.Id }, new { @class = "btn btn-details" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = estado.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No se encontraron estados de pedido.
        </div>
    }
</div>
