@model MVC_NPANTS.Models.Estilo

@{
    ViewData["Title"] = "Eliminar Estilo";
}

<div class="main-container">
    <div class="page-header">
        <h1 style="color:white">@ViewData["Title"]</h1>
    </div>

    <h3>¿Estás seguro de que quieres eliminar este estilo?</h3>
    <div>
        <h4>Estilo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tipo)
            </dd>
            <dt class="col-sm-2">
                Tallas
            </dt>
            <dd class="col-sm-10">
                @if (Model.Tallas != null)
                {
                        <ul>
                        @foreach (var talla in Model.Tallas)
                        {
                                    <li>@talla.Talla.Nombre - Consumo: @talla.ConsumoTela</li>
                        }
                        </ul>
                }
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a> 
        </form>
    </div>
</div>