@model IEnumerable<MVC_NPANTS.Models.TipoCliente>

@{
    ViewData["Title"] = "Catálogo de Tipos de Clientes";
}

<div class="main-container">
    <div class="page-header">
        <h1 style="color:white">Catálogo de Tipos de Clientes</h1>
        <a class="btn-create" asp-action="Create">Agregar nuevo tipo de cliente</a>
    </div>
    <div class="product-grid">
        @foreach (var tipoCliente in Model)
        {
            <div class="product-card">
                <a href="@Url.Action("GetById", new { id = tipoCliente.Id })" class="product-name">@tipoCliente.Nombre</a>
                <div class="product-detail">
                    <span class="product-label">Descripción:</span> @tipoCliente.Descripcion
                </div>
                <div class="action-buttons">
                    @Html.ActionLink("Editar", "Edit", new { id = tipoCliente.Id }, new { @class = "btn-action btn-edit" })
                    @Html.ActionLink("Detalles", "GetById", new { id = tipoCliente.Id }, new { @class = "btn-action btn-details" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = tipoCliente.Id }, new { @class = "btn-action btn-delete" })
                </div>
            </div>
        }
    </div>
</div>
